@font-face {
    font-family: 'Vercetti-Regular';
    src: url('/designs/fonts/Vercetti-Regular.otf') format('opentype'), /* Modern Browsers */
         url('/designs/fonts/Vercetti-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --font-family: 'Vercetti-Regular';
    --h1-font-size: 2.5rem;
    --h1-mobile-font-size: 2.25rem;
    --h2-font-size: 2rem;
    --link-hover-font-size: 1.5625rem;
    --link-font-size: 1.5rem;
    --label-font-size: 1rem;
    --label-hover-font-size: 1.063rem;
    --paragraph-font-size: 1rem;
    --black: rgb(24, 24, 24);
    --white: rgb(255, 255, 255);
    --blue: rgb(63, 100, 227);
    --dark-grey: rgb(152, 152, 152);
    --light-grey: rgb(217, 217, 217);
    --green: rgb(95, 209, 134);
    --yellow: rgb(255, 242, 122);
    --brown: rgb(130, 110, 95);
    --orange: rgb(233, 142, 59);
    --pink: rgb(216, 23, 150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST (BASE CSS) 
_________________________________*/
body {
    font-family: var(--font-family), 'Inter', Helvetica;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    cursor: url('/designs/yellow\ smiley\ face.cur'), auto;
}

#home-animation {
    animation: bottom-slide 1s cubic-bezier(.91,-0.01,.66,.94) both;
}

a {
    font-size: var(--link-font-size);
    text-decoration: none;
    cursor: url('/designs/yellow\ smiley\ face.cur'), auto;
}

.nav-menu a:hover {
    font-size: var(--link-hover-font-size);
    text-decoration: none;
    /* color: var(--blue); */
}

body.dark-mode {
    background-color: var(--black);
    color: var(--white);
}

.dark-mode {
    background-color: var(--black);
    color: var(--white);
}

/* hamburger nav */
.hamburger-icon {
    position: fixed;
    width: 2rem;
    height: 2rem;
    top: 1.875rem;
    right: 1.25rem;
    z-index: 50;
}

.hamburger-image {
    margin: 4px;
}

.close-icon {
    position: absolute;
    top: 1.875rem;
    right: 1.25rem;
    display: none;
    z-index: 100;
}

.nav-item {
    color: var(--black);
    text-decoration: none;
}

.nav-item.mode {
    display: flex;
    align-items: center;
}

.dark-mode-text {
    margin-right: .2rem;
}

.dark-mode-nav {
    color: var(--white);
    text-decoration: none;
}

.nav-menu {
    display: none;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

.nav-menu.open {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(78, 77, 77);
    line-height: 2.5rem;
    backdrop-filter: blur(80%);
    z-index: 50;
    color: var(--white)
}



/* dark mode toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grey);
    -webkit-transition: .4s;
    transition: .4s;
    cursor: url('/designs/yellow\ smiley\ face.cur'), auto;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--blue);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-grey);
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 32px;
}

.slider.round:before {
    border-radius: 32px;
}

/* intro section */
.intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-text {
    /* border: 1px solid blue; */
    display: none;
}

/* work page */
.flex-container {
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 4.375rem 1.25rem 6.25rem 1.25rem;
    max-width: 20.938rem;
}

.title {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    min-width: 20.938rem;
    font-size: var(--h1-font-size);
    color: var(--dark-grey);
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 4rem;
}

.overlay-container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--black);
}

.overlay-container:hover .overlay {
    opacity: .8;
}

.overlay-text {
    color: var(--white);
    font-size: var(--label-font-size);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right{
    text-align: end;
    justify-content: end;
}

/* .project-screenshot {
    border: 1px solid goldenrod
} */

.cta {
    /* border: 1px solid magenta; */
    margin-bottom: .25rem;
}

/* about me page */
.bio-flex-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 4.375rem 1.25rem 6.25rem 1.25rem;
}

.bio-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid blue; */
}

.bio-image {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20.938rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.bio-pic img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 20.938rem ;
    width: 100%;
    /* border: 1px solid black; */
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    height: 2.688rem;
    margin-bottom: 1.25rem;
    /* border: 1px solid hotpink; */
}

.bio-p1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-width: 20.938rem;
    max-width: 32.563rem;
    width: 100%;
    /* border: 1px solid gold; */
}

.bio-p2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-width: 20.938rem;
    max-width: 32.563rem;
    width: 100%;
    margin-bottom: 3.125rem;
    /* border: 1px solid gold; */
}

.skills-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;   
    width: 100%;
    height: 2.375rem;
    font-size: var(--h2-font-size);
    margin-bottom: 2.5rem;
    /* border: 1px solid green; */
}

.languages {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.languages-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    height: 1.625rem;
    margin-bottom: 0.5rem;
    /* border: 1px solid palevioletred; */
}

.languages-header h4 {
    font-size: var(--label-font-size);
    color: var(--dark-grey);
}

.languages-header h4:hover {
    color: var(--green);
    font-size: var(--label-hover-font-size);
}

.languages-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-width: 20.938rem;
    width: 100%;
    height: 1.625rem;
    font-size: var(--label-font-size);
    /* border: 1px solid green; */
}

.frameworks {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.frameworks-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 0.5rem;
    /* border: 1px solid palevioletred; */
}

.frameworks-header h4 {
    font-size: var(--label-font-size);
    color: var(--dark-grey);
}

.frameworks-header h4:hover {
    font-size: var(--label-hover-font-size);
    color: var(--pink);
}

.frameworks-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-width: 20.938rem;
    width: 100%;
    height: 1.625rem;
    font-size: var(--label-font-size);
    /* border: 1px solid green; */
}

.databases {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.databases-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 0.5rem;
    /* border: 1px solid palevioletred; */
}

.databases-header h4 {
    font-size: var(--label-font-size);
    color: var(--dark-grey);
}

.databases-header h4:hover {
    font-size: var(--label-hover-font-size);
    color: var(--blue);
}

.databases-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-width: 20.938rem;
    width: 100%;
    height: 1.625rem;
    font-size: var(--label-font-size);
    /* border: 1px solid green; */
}

.tools {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.tools-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20.938rem;
    width: 100%;
    margin-bottom: 0.5rem;
    /* border: 1px solid palevioletred; */
}

.tools-header h4 {
    font-size: var(--label-font-size);
    color: var(--dark-grey);
}

.tools-header h4:hover {
    font-size: var(--label-hover-font-size);
    color: var(--orange);
}

.tools-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-width: 20.938rem;
    width: 100%;
    height: 1.625rem;
    font-size: var(--label-font-size);
    /* border: 1px solid green; */
}

.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6.25rem;
    min-width: 20.938rem;
    width: 100%;
    /* border: 1px solid blue; */
}

/* .download-duo {
    border: 1px solid green;
} */

.download-arrow a {
    text-decoration: none;
}
/* .arrow {
    border: 1px solid purple;
} */

.download-text a {
    text-decoration: none;
    font-size: var(--link-font-size);
    color: var(--green)
}

.download-text {
    /* border: 1px solid yellow; */
    font-size: var(--link-font-size);
    text-decoration: none;
    margin-right: .75rem;
}

.download-text a:hover {
    font-size: var(--link-hover-font-size);
    text-decoration: none;
    color: var(--blue);

}

/* .social-trio {
    border: 1px solid red;
} */

.social-links a {
    text-decoration: none;
}

/* .social-links a img {
    border: 1px solid orange;
} */


/* resume modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: var(--light-grey);
    margin: 5vh auto; 
    padding: 20px;
    width: 60%; 
    height: 90%;
    position: relative;
}

.close-modal {
    color: var(--dark-grey);
    float: right;
    font-size: var(--h2-font-size);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: .625rem;
    top: .625rem;
}

.close-modal:hover {
    color: var(--black);
}

#resume-frame {
    width: 100%;
    height: 100%;
}

/* TABLET CSS
_________________________________*/
@media only screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .home {
        position: fixed;
        top: 6.25rem;
        left: 6.25rem;
    }

    .home:hover {
        color: var(--pink);
    }

    .work {
        position: fixed;
        top: 6.25rem;
        right: 6.25rem;
    }

    .work:hover {
        color: var(--green);
    }

    .me {
        position: fixed;
        bottom: 6.25rem;
        left: 6.25rem;
    }

    .me:hover {
        color: var(--orange);
    }

    .mode {
        position: fixed;
        bottom: 6.25rem;
        right: 6.25rem;
    }

    .mode:hover {
        color: var(--blue);
    }

    .h1-text {
        display: flex;
    }

    .intro img {
        display: none;
    }

    .intro-wrapper {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        font-size: var(--h1-font-size);
        line-height: 3rem;
    }

    .intro-blurb {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-self: center;
    }

}
/* /* DESKTOP CSS 
_________________________________*/
@media only screen and (min-width: 992px) {
    .flex-container {
        /* border: 1px dotted goldenrod; */
        min-width: 44.125rem;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .title {
        /* border: 1px dotted blue; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .project-wrapper {
        /* border: 2px dotted green; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .project-screenshot {
        /* border: 1px dotted red; */
        display: flex;
        flex-wrap: wrap;
    }

    .project-title {
        /* border: 1px dotted blue; */
        min-width: 44.125rem;
        display: flex;
    }
    
    .cta {
        /* border: 1px dotted magenta; */
        display: flex;
        flex-wrap: wrap;
    } 

    .bio-flex-container {
        position: absolute;
        /* border: 1px solid red; */
        margin: 6.25rem 1.25rem 6.25rem 1.25rem;
    }
    

    
    .bio-image {
        /* border: 1px solid green; */
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        min-width: 44.125rem;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    
    .bio-pic img{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        max-width: 20.938rem;
        width: 100%;
        /* border: 1px solid black; */
    }
    

    .bio-p1 {
        min-width: 44.125rem;
        width: 100%;
        /* border: 1px solid gold; */
    }
    
    .bio-p2 {
        min-width: 44.125rem;
        width: 100%;
        margin-bottom: 3.125rem;
        /* border: 1px solid gold; */
    }
}

/* home animation */
@keyframes bottom-slide {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}
