/* MOBILE FIRST (BASE CSS) 
_________________________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* TABLET CSS
_________________________________*/





/* DESKTOP CSS 
_________________________________*/

